section {

    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
    padding-bottom: 5%;

}

.azul {

    background-color: #09438D;
    padding-top: 5%;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 6%;

}